parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$method\\.$#"
			count: 1
			path: src/Common/Tools.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$operation\\.$#"
			count: 1
			path: src/Common/Tools.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$version\\.$#"
			count: 1
			path: src/Common/Tools.php

		-
			message: "#^Method NFePHP\\\\NFe\\\\Common\\\\Tools\\:\\:checkModelFromXml\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: src/Common/Tools.php

		-
			message: "#^Parameter \\#1 \\$code of static method NFePHP\\\\Common\\\\UFList\\:\\:getUFByCode\\(\\) expects int, string given\\.$#"
			count: 2
			path: src/Common/Tools.php

		-
			message: "#^Parameter \\#3 \\$tpAmb of method NFePHP\\\\NFe\\\\Common\\\\Tools\\:\\:servico\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/Common/Tools.php

		-
			message: "#^Parameter \\#1 \\$version of static method NFePHP\\\\NFe\\\\Common\\\\ValidTXT\\:\\:loadStructure\\(\\) expects float, string given\\.$#"
			count: 1
			path: src/Common/ValidTXT.php

		-
			message: "#^Parameter \\#2 \\$class_name of function simplexml_load_string expects string, null given\\.$#"
			count: 1
			path: src/Common/Webservices.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Convert.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exception/DocumentsException.php

		-
			message: "#^Variable \\$tpEmis might not be defined\\.$#"
			count: 1
			path: src/Factories/Contingency.php

		-
			message: "#^Parameter \\#1 \\$code of static method NFePHP\\\\Common\\\\UFList\\:\\:getUFByCode\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/Factories/ContingencyNFe.php

		-
			message: "#^Parameter \\#1 \\$number of function number_format expects float, string given\\.$#"
			count: 1
			path: src/Factories/QRCode.php

		-
			message: "#^Method NFePHP\\\\NFe\\\\Make\\:\\:conditionalNumberFormatting\\(\\) should return string but returns null\\.$#"
			count: 1
			path: src/Make.php

		-
			message: "#^Parameter \\#1 \\$code of static method NFePHP\\\\Common\\\\UFList\\:\\:getUFByCode\\(\\) expects int, string given\\.$#"
			count: 3
			path: src/Tools.php

		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
			count: 5
			path: src/Tools.php

		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int\\<min, \\-1\\>\\|int\\<1, max\\> given\\.$#"
			count: 2
			path: src/Tools.php

		-
			message: "#^Parameter \\#2 \\$tpAmb of method NFePHP\\\\NFe\\\\Tools\\:\\:sefazConsultaChave\\(\\) expects int\\|null, string given\\.$#"
			count: 1
			path: src/Tools.php
