{
    "atualizacao":"2015-10-02 06:01:21",
    "tpAmb":2,
    "pathXmlUrlFileNFe":"nfe_ws3_mod55.xml",
    "pathXmlUrlFileCTe":"cte_ws1.xml",
    "pathXmlUrlFileMDFe":"mdfe_ws1.xml",
    "pathXmlUrlFileCLe":"cle_ws1.xml",
    "pathXmlUrlFileNFSe":"",
    "pathNFeFiles":"\/dados\/nfe",
    "pathCTeFiles":"\/dados\/cte",
    "pathMDFeFiles":"\/dados\/mdfe",
    "pathCLeFiles":"\/dados\/cle",
    "pathNFSeFiles":"\/dados\/nfse",
    "pathCertsFiles":"\/var\/www\/sped\/sped-nfe\/certs\/",
    "siteUrl":"http:\/\/sped\/sped-nfe",
    "schemesNFe":"PL_008h2",
    "schemesCTe":"PL_CTE_104",
    "schemesMDFe":"MDFe_100",
    "schemesCLe":"CLe_100",
    "schemesNFSe":"",
    "razaosocial":"Sua Razao Social Ltda",
    "siglaUF":"SP",
    "cnpj":"99999999999999",
    "tokenIBPT":"AAAAAAA",
    "tokenNFCe":"xxxx-33333-xxxx-33333-xxxx",
    "tokenNFCeId":"000001",
    "certPfxName":"certificado.pfx",
    "certPassword":"senha",
    "certPhrase":"",
    "aDocFormat":{
        "format":"P",
        "paper":"A4",
        "southpaw":"1",
        "pathLogoFile":"\/var\/www\/images\/logo.jpg",
        "logoPosition":"L",
        "font":"Times",
        "printer":"hpteste"
    },
    "aMailConf":{
        "mailAuth":"1",
        "mailFrom":"seunome@suarazao.com.br",
        "mailSmtp":"smtp.suarazao.com.br",
        "mailUser":"seunome@suarazao.com.br",
        "mailPass":"senhaemail",
        "mailProtocol":"ssl",
        "mailPort":"465",
        "mailFromMail":"seunome@suarazao.com.br",
        "mailFromName":"Seu Nome,
        "mailReplayToMail":"seunome@suarazao.com.br",
        "mailReplayToName":"Seu Nome",
        "mailImapHost":null,
        "mailImapPort":null,
        "mailImapSecurity":null,
        "mailImapNocerts":null,
        "mailImapBox":null
    },
    "aProxyConf":{
        "proxyIp":"",
        "proxyPort":"",
        "proxyUser":"",
        "proxyPass":""
    }
}